
.icon-mail:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */